EventPlanner/EventPlanner.pro.user.*
EventPlanner/EventPlanner.pro.user
EventPlanner/EventData.txt
build-EventPlanner-Desktop-Debug/*
EventPlanner/Makefile
build-EventPlanner-Desktop-Debug
build-EventPlanner*
